html,body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    background: black;
    color: white;
    
}

#header1 {
    background-image:linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url("background-image1.jpg");
    /* background-image: radial-gradient( rgba(0, 0, 0, 0.7) 40%, rgba(65, 63, 63, 0.7) 60%),url("background-image1.jpg"); */
    position: relative;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    /* justify-content: space-between; */
    /* padding: 10px 8%; */
    /* height: 500px; */
    /* background: rgba(0,0,0,0.5); */
}


#logo-image {
    display: inline-block;
    margin-left: 175px;
    margin-top: 20px;
    height: 50px;
    width: 150px;
    /* font-weight: bold; */
}

#languages {
    display: inline-block; 
    margin-left: 48vw;
    margin-top: 30px;   
    /* margin-left: 100%; */
    /* margin-right: 20%; */
    /* padding-right: 50px; */
    background-color: black;
    width: 125px;
    height: 30px;
    border-radius: 4px;
    color: white;
    /* font-weight: bold; */
    font-style: sans-serif;
    font-size: 17px;
    text-align: center;
    background: url("image.png") no-repeat left center;
    background-size: 20px;
    background-position: 3px center;
    /* padding-left: 30px;   */
    /* margin-top: 15vh;        */
}

#languages:focus {
    border: 1px solid white;
}

#signInButton {
    display: inline-block;
    background-color: red;
    width: 85px;
    height: 35px;
    text-align: center;
    color: white;
    font-size: 15px;
    font-weight: bold;
    margin-top: 30px;
    border-radius: 7px;
    margin-left: 2vw;
    margin-top: 28px;
}

#heading1 {
    color: white;
    display: block;
    /* background-color: red; */
}



